* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: pink;
  color: #222;
  font-family: "Viaoda Libre", serif;
}

.viaoda-libre-regular {
  font-family: "Viaoda Libre", serif;
  font-weight: 800;
  font-style: normal;
  font-size: 40px;
}

header {
  position: relative;
  background-color: #d65b96;
  box-shadow: 0 2px 10px rgba(0,0,0,0.4);
}

.navbar {
  overflow: hidden;
  background-color: #d65b96;
}

.navbar a {
  float: left;
  display: block;
  color: #222326;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: bold;
}

.navbar a:hover {
  background-color: plum;
  color: #373740;
}

header h3 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: #F2F2F2;
  padding: 10px 0;
}

.container {
  border-radius: 24px;
  margin: 60px auto;
  padding: 34px;
  width: 700px;
  background-color: plum;
  font-size: 20px;
  text-align: center;
  transition: 0.4s;
}

.container:hover {
  transform: scale(1.01);
}

.imagem {
  display: block;
  margin: 60px auto;
  width: 700px;
  border-radius: 44px;
  height: 360px;
  object-fit: cover;
}

input, textarea {
  width: 90%;
  margin: 10px 0;
  padding: 10px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  font-family: "Viaoda Libre", serif;
  resize: none;
}

button {
  background-color: plum;
  border: none;
  color: #fff;
  padding: 10px 20px;
  margin-top: 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
  font-family: "Viaoda Libre", serif;
}

button:hover {
  background-color: hsl(313, 75%, 59%);
  color: hsl(329, 67%, 59%);
}

.poema-card {
  background-color: plum;
  border-radius: 15px;
  padding: 20px;
  margin: 20px 0;
  text-align: left;
  transition: 0.3s;
}

.poema-card:hover {
  background-color: #c48fe0;
}

.poema-card h3 {
  margin-bottom: 10px;
}

.poema-card p {
  white-space: pre-line;
  font-size: 18px;
}
footer {
  background-color: hsl(309, 42%, 50%);
  color: hwb(317 46% 12%);
  text-align: center;
  padding: 15px 0;
  font-size: 16px;
  position: fixed; /* fica grudado no fim da tela */
  bottom: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 -2px 10px rgba(0,0,0,0.4);
}
ul{
  padding: 0 16px;
}
