.formulario-campo{
    display: flex;
    flex: 1;
    gap: 16px;
    width: 70%;
    justify-content: space-between;
    margin-bottom: 8px;
    align-items: center;
}

Esse seletor atinge todos os elementos <label> que estão dentro de um elemento com a classe .formulario-campo.

.formulario-campo input,
.formulario-campo select,
.formulario-campo textarea {
    width: 300px;
    justify-self: flex-end;
}